<header class="bg-primary text-white p-3">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img  routerLink="/" src="assets/logo1.jpg" class="me-2" >
      </div>
      <nav>
        <a routerLink="/" class="text-white me-3">Accueil</a>
        <a href="#" class="text-white me-3">A-propos</a>
        <a routerLink="/connexion" class="text-white me-3">Connexion</a>
        <a routerLink="/inscription" class="text-white me-3">Inscription</a>
        <a href="#" class="text-white">Contact</a>
      </nav>
    </div>
  </header>