/* Footer styles */
footer {
  background-color: rgb(6, 138, 13) !important;
  color: white;
  padding: 40px 0;
}

footer h5 {
  margin-bottom: 20px;
  font-size: 1.25rem;
}

footer .form-label {
  color: white;
}

footer .form-control {
  background-color: white;
  color: black;
  border: none;
}

footer .btn-primary {
  background-color: #f00;
  border-color: #ffcb00;
}

footer .text-white {
  color: #fff !important;
}

footer a {
  color: white;
  margin-right: 15px;
}

footer a:hover {
  color: #007bff;
}

footer .text-center {
  font-size: 0.9rem;
}

/* Styles pour les icônes des réseaux sociaux */
footer .fab {
  color: #ffffff;
}

footer .fab:hover {
  color: #f0f0f0;
}

footer .fa-facebook-f,
footer .fa-whatsapp {
  padding: 10px;
  border-radius: 50%;
}

footer .fa-facebook-f {
  background: #3b5998;
}

footer .fa-whatsapp {
  background: #25D366;
}

/* Responsive styles */
@media (max-width: 768px) {
  footer .container {
    text-align: center;
  }

  footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .col-md-4 {
    margin-bottom: 20px;
  }

  footer .col-md-4:last-child {
    margin-bottom: 0;
  }

  footer .col-md-4 form {
    width: 100%;
  }
}
