<app-header></app-header>
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image11.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption1 d-none d-md-block">
        <h5>METTEZ VOS IMMEUBLES EN LOCATION </h5>
        <p>
          Rejoignez notre plateforme en quelques minutes seulement.
          Notre processus d'inscription est rapide et sans tracas.
          Créez un compte facilement et commencez à louer vos biens immédiatement.
          Simplifiez la gestion de vos biens avec notre interface intuitive.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/image2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption2 d-none d-md-block">
        <h5>METTEZ VOS IMMEUBLES EN LOCATION</h5>
        <p>
          Gérer vos annonces n'a jamais été aussi simple.
          Modifiez, mettez à jour et suivez l'état de vos locations en temps réel.
          Toutes vos informations sont centralisées et accessibles en un clic.
          Notre tableau de bord clair et efficace facilite la gestion locative.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/image33.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption3 d-none d-md-block">
        <h5>METTEZ VOS IMMEUBLES EN LOCATION</h5>
        <p>
          Donnez à vos biens la visibilité qu'ils méritent.
          Nos stratégies de marketing ciblé augmentent l'exposition de vos annonces.
          Attirez un large public de locataires potentiels grâce à notre réseau étendu.
          Maximisez vos chances de trouver rapidement des locataires de qualité.
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<br>
<br>

<h1>LES CARACTERISTIQUES DES BATIMENTS OU IMMEUBLES À METTRE EN LOUER</h1>

<!-- Cards Section -->
<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="assets/card1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Model Immeuble</h5>
          <p class="card-text">
            Mettez vos biens en location en quelques étapes simples.
            Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
            Fournissez toutes les informations nécessaires pour convaincre les locataires.
            Votre annonce sera en ligne et visible par la DGAIE.
          </p>
          <a href="#" class="btn btn-primary">Voir Plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="assets/card2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Model Immeuble</h5>
          <p class="card-text">
            Mettez vos biens en location en quelques étapes simples.
            Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
            Fournissez toutes les informations nécessaires pour convaincre les locataires.
            Votre annonce sera en ligne et visible par la DGAIE.
          </p>
          <a href="#" class="btn btn-primary">Voir Plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card">
        <img src="assets/card3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Model Immeuble</h5>
          <p class="card-text">
            Mettez vos biens en location en quelques étapes simples.
            Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
            Fournissez toutes les informations nécessaires pour convaincre les locataires.
            Votre annonce sera en ligne et visible par la DGAIE.
          </p>
          <a href="#" class="btn btn-primary">Voir Plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>DES MODELS D'IMMEUBLES</h1>
<!-- Additional Banner with Cards -->
<div class="banner-container">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card6.jpg" class="card-img-top" alt="Card 4">
          <div class="card-body">
            <h5 class="card-title">Model Immeuble</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card5.jpg" class="card-img-top" alt="Card 5">
          <div class="card-body">
            <h5 class="card-title">Model Immeuble</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card4.jpg" class="card-img-top" alt="Card 6">
          <div class="card-body">
            <h5 class="card-title">Model Immeuble</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<h1>DES MODELS DE BATIMENT</h1>
<!-- Additional Banner with Cards -->
<div class="dynamiiser">
  <div class="container my-5">
    <div class="row text-center">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card7.jpg" class="card-img-top" alt="Card 4">
          <div class="card-body">
            <h5 class="card-title">MOdel Batiment</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card8.jpg" class="card-img-top" alt="Card 5">
          <div class="card-body">
            <h5 class="card-title">MOdel Batiment</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="assets/card9.jpg" class="card-img-top" alt="Card 6">
          <div class="card-body">
            <h5 class="card-title">MOdel Batiment</h5>
            <p class="card-text">
              Mettez vos biens en location en quelques étapes simples.
              Ajoutez des détails et des référenes vous concernants ainsi que le batiment.
              Fournissez toutes les informations nécessaires pour convaincre les locataires.
              Votre annonce sera en ligne et visible par la DGAIE.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
